.jumbotron {
    color: tomato;
    background-color: rgb(99, 49, 99);
}
.jumbotron2 {
    color:tomato;
    background-color: rgb(99, 49, 99);
}
.btn {
    position: center;
}
body {
    background-color: rgb(99, 49, 99);
    justify-content: center;
}


